#arena {
  border: 1px solid black;
  position: relative;
}

#knight {
  background-image: url('../../img/knight_standing.gif');
  width: 94px;
  height: 85px;
  position: absolute;
}

#dragon {
  background-image: url('../../img/dragon.gif');
  width: 50px;
  height: 50px;
  position: absolute;
}

#healthbar {
  position: absolute;
}

#potion {
  position: absolute;
}
