<!DOCTYPE html>
<html>
  <head>
    <title>Nerds and Dragons</title>
    <link href='/css/game.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="/js/mousetrap.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/arena.js"></script>
    <script src="/js/knight.js"></script>
    <script src="/js/dragon.js"></script>
    <script src="/js/potion.js"></script>
    <script src="/js/boss.js"></script>
    <script src="/js/game.js"></script>
  </head>

  <body>
    <div id="arena">
<!--       <img src="../../img/arena_background.jpg"/> -->
      <div id="bars">
        <progress id="healthbar" max="100" value="100"></progress>
        <progress id="powerbar" max="100" value="0"></progress>
        <progress id="bosshealthbar" max="100" value="100"></progress>
    </div>
    <div id="lightning"><img src="../../img/lightning.gif"></div>
    </div>
  </body>
</html>
