<html>
  <head>
    <title>Nerds and Dragons</title>
    <link href='../../public/css/game.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../public/js/mousetrap.js"></script>
    <script src="../../public/js/underscore.js"></script>
    <script src="../../public/js/arena.js"></script>
    <script src="../../public/js/knight.js"></script>
    <script src="../../public/js/dragon.js"></script>
    <script src="../../public/js/potion.js"></script>
    <script src="../../public/js/game.js"></script>
  </head>

  <body>
    <div id="arena">
      <div id="bars">
        <progress id="healthbar" max="100" value="100"></progress>
        <progress id="powerbar" max="100" value="0"></progress>
      </div>
    </div>
  </body>
</html>
