<html>
  <head>
    <title>Nerds and Dragons</title>
    <link href='../../public/css/game.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../public/js/mousetrap.js"></script>
    <script src="../../public/js/underscore.js"></script>
    <script src="../../public/js/arena.js"></script>
    <script src="../../public/js/knight.js"></script>
    <script src="../../public/js/dragon.js"></script>
    <script src="../../public/js/potion.js"></script>
    <script src="../../public/js/game.js"></script>
  </head>

  <body>
    <progress id="healthbar" value="100" max="100"></progress>
  </body>
</html>
